@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "tailwindcss";


body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

